@import "./card-component.css";

/* 카드 레이아웃 */
/* 컨테이너 내의 요소 배치 */
.apple-container {
  display: flex;
  flex-direction: column;

  @media (min-width: 64rem) {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "item1 item1"
      "item2 item2"
      "item3 item3"
      "item4 item5"
      "item6 item7";
  }
  .ipad-pro {
    grid-area: item1;
  }

  .ipad-air {
    grid-area: item2;
  }

  .iphone15-pro {
    grid-area: item3;
  }

  .iphone15 {
    grid-area: item4;
  }

  .apple-watch {
    grid-area: item5;
  }

  .macbook-air {
    grid-area: item6;
  }

  .airpods {
    grid-area: item7;
  }
}

/* 카드 내 배치*/
.product-card {
  /* background: #000; */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50%;

  margin-block-end: var(--large-spacing);

  /* 카드 내의 요소들 */
  .content {
    grid-column: 2 / 3;
    justify-items: center;

    .product-name {
      margin-block-start: var(--large-spacing);
    }

    .links {
      display: block;
      white-space: nowrap;

      .price-button {
        margin-inline-start: var(--base-spacing);
      }
    }
  }
}
